<section id="home" class="intro">
  <div class="intro-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading">NIGER</h1>
        <p class="intro-text"><strong>POSTAGE</strong> STAMPS</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-info-circle" aria-hidden="true"></i> About Country</button>
      </div>
    </div>
  </div>
</section>  


<section id="intro-text" class="text-intro">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Welcome to the official website of Niger postage stamps. Here you can see various issues of thematic postage stamps and their publication dates.</h3>
        <p>Philatelic agency Stamperija Ltd. – the authorized representative of Niger post administration (the issues of 2013-2017). We offer various interesting topical stamps and continuously update the assortment with new stamps that artistically depict the most important events and personalities of all times.</p>
      </div>
    </div>
</section>

<hr class="half-rule"/>

<section id="body" class="pinterest-body">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <h3 class="stamps-years">2017</h3>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail thumb-box">
              <%= image_tag "1.jpg", class: "image-body" %>
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">View</a> 
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail thumb-box">
              <%= image_tag "http://stamperija.eu/media/catalog/product/cache/1/image/940x500/17f82f742ffe127f42dca9de82fb58b1/C/A/CA17001a.jpg", class: "image-body" %>
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>
    
</section>



