 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navtext-logo" href="#">
        <span>Country</span><br>
        <span>POSTAGE STAMPS</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
         <li>
          <a href="#">
            <i class="fa fa-globe navbar-icons" aria-hidden="true"></i> 
            <p class="navbar-text">News</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-envelope navbar-icons" aria-hidden="true"></i> 
            <p class="navbar-text">Stamps issues</p>
          </a>
        </li>
        <li>
          <a href="#" >
            <i class="fa fa-ban navbar-icons" aria-hidden="true"></i>
            <p class="navbar-text">Illegal Stamps</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users navbar-icons" aria-hidden="true"></i>
            <p class="navbar-text">Contact</p>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-smalltext" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language navbar-icons" aria-hidden="true"></i><p class="navbar-text">Language</p> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">EN</a></li>
            <li><a href="#">FR</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>